.deck {
	float: left;
	width: 100%;
	text-align: center;
}

.deckFormat {
	display: block;
}

.removeDeckButton {
	display: block;
	font-size: .8em;
	margin: 0 auto;
	text-transform: capitalize;
}

.removeDeckButton:hover {
	cursor: pointer;
}

.cardList {
  width: 640px;
  margin: 0 auto;
  padding: 5px;
}